<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Tyler Test</h1>
        <p class="lead">You can start the test by clicking the button below</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/test/{{user}}/{{pass}}" role="button">Start The Test</a>
        </p>
    </div>
</div>